@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-violet: #5964e0;
  --color-light-violet: #939bf4;
  --color-very-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #fff;
  --color-light-grey: #f4f6f8;
  --color-grey: #9daec2;
  --color-dark-grey: #6e8098;
 
}

body {
  font-family: "Kumbh Sans",sans-serif;
  font-weight: 400;
  background-color: var(--color-light-grey);
}

body[data-theme='dark'] {
  background-color: var(--color-midnight);
}

a {
  font-family:  "Kumbh Sans",sans-serif;
}


.container {
  max-width: 1079px;
  padding:0 10px;
  margin: 0 auto;
}

body[data-theme='light'] {
  --background-color-app: var(--color-light-grey);
  --background-color-elements: var(--color-white);
  --color-text: var(--color-very-dark-blue);
  --color-checkbox: #e7e8e9;
  --background-color-btn-2: #eeeffc;
  --background-color-btn-2-hover: #c5c9f4;
  --color-btn-2: var(--color-violet);
}

body[data-theme='dark'] {
  --background-color-app: var(--color-midnight);
  --background-color-elements: var(--color-very-dark-blue);
  --color-text: var(--color-white);
  --color-checkbox: #313743;
  --background-color-btn-2: #303642;
  --background-color-btn-2-hover: #696e76;
  --color-btn-2: var(--color-white);
}
