.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 18px;
    padding: 80px 0 0;
    width: 100%;
    .not_result {
        font-size: 32px;
        color:var(--color-violet);
        font-weight:700;
        text-align: center;
    }
}
