.footer {
    background-color:  var(--background-color-elements);
    height: 112px;
    margin-top: 100px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px  0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text_wrapper {
        p {
            color:  var(--color-dark-grey);
        }
    }
}

@media (max-width:650px) {
    .wrapper {
        justify-content: center;
        .text_wrapper {
           display: none;
        }
    }
}